@import "materialize/components/color";
$primary-color: color("blue-grey", "darken-2") !default;
$secondary-color: color("blue", "accent-4") !default;
@import "materialize";

body {
  font-family: 'Arvo', serif;
  background-image: url("paper.jpg");
}

.center-big {
  text-align: center;
  font-size: 50px;
}

.card-title {
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}

.card-image {
  height: 100%;
  width: auto;
}

.card {
  display: flex;
  height: 250px;
  width: auto;
  border: 2px solid black;
  margin: 10px;
  padding: 15px;
}

// .sentence-image {
//   width: 100px;
// }

.flex {
  display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-grow: 1;
}

#title-card {
  border: 4px solid black;
  width: 100%;
}

body {
  background-color: #bdbdbd;
}
