@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("green", "base") !default;
@import "materialize";


.center-big {
  text-align: center;
  font-size: 50px;
}

.card {
  border-radius: 25px;
}
